* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to right, #000000, #130F40);
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}

/* Main Container to Hold Password Add and Generate Containers */
#main-container {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 1200px; /* Limit max width on larger screens */
}


.password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: black;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2.2em;
    color: #bb86fc;
    margin-bottom: 20px;
    text-align: center;
}

.password-generator-heading {
    font-size: 1.9em;
    color: #007bff; /* Same as the copy button background color */
    text-align: center;
    margin-bottom: 10px; /* Space below the heading */
}

form {
    display: flex;
    flex-direction: column;
}

.password-container {
    position: relative;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #bbb;
}

.password-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d1a6ff;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.password-input input {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    background-color: #00000093;
    color: #fff;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.password-input input:focus {
    border-color: #76ff03;
}

.password-input .toggle-password {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s ease;
}

.password-input .toggle-password:hover {
    color: #fff;
}

button {
    padding: 12px;
    background-color: #76ff03;
    color: #121212;
    border: none;
    margin: 4px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#adding-password {
    text-align: center;
    padding: 12px;
    background-color: #bb86fc;
    color: white;
    border: none;
    margin: 4px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    background-color: #9f6ee8;
    transform: scale(1.05);
}

#adding-password:hover {
    background-color: #9f6ee8;
}

.home-link {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: #007bff;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.home-link i {
    cursor: pointer;
    margin-right: 8px;
}

.home-link:hover {
    color: #ffffff;
}

#add-pass-success {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

#generate {
    width: 100%; /* Full width for the password generator */
    margin-top: 20px; /* Space above the generator */
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.pass-indicator {
    height: 5px;
    background-color: #444;
    border-radius: 5px;
    margin-bottom: 20px;
}

.pass-length {
    margin-bottom: 20px;
}

.pass-length .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.pass-length .title {
    color: #3b82f6;
    font-weight: bold;
}

.pass-length input[type="range"] {
    width: 100%;
    accent-color: #3b82f6; /* For range slider thumb and track */
    background-color: #333;
    border-radius: 5px;
    outline: none;
}

.pass-settings {
    margin-bottom: 20px;
}

.pass-settings .title {
    color: #3b82f6;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.pass-settings .options {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pass-settings .option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.pass-settings .option input[type="checkbox"] {
    accent-color: #3b82f6;
    margin-right: 10px;
}

.pass-settings .option label {
    color: #f1f1f1;
}

.generate-btn {
    width: 100%;
    padding: 10px;
    background-color: #3b82f6;
    border: none;
    border-radius: 5px;
    color: #f1f1f1;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.generate-btn:hover {
    background-color: #2563eb; /* Darker blue on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    body {
        padding: 10px; /* Less padding on smaller screens */
    }

    #main-container {
        gap: 10px; /* Smaller gap between components */
    }

    .password-input input {
        width: 100%; /* Full width for inputs */
    }

    button,
    #adding-password {
        font-size: 0.9em; /* Adjust button text size */
        padding: 10px; /* Adjust padding for buttons */
    }

    #add-pass-success {
        width: 100%; /* Full width for success message */
        top: auto; /* Allow positioning */
        bottom: 20px; /* Space from the bottom */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#add-pass-success {
    display: none;
}

.input-box {
    display: flex;
    align-items: center;
    background-color: #333;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.input-box input[type="text"] {
    background-color: #333;
    color: #f1f1f1;
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
}

.input-box .material-symbols-outlined {
    color: #3b82f6; /* Tailwind CSS blue-500 */
   cursor: pointer;
} 

/* Credits (Optional) */
.credits p {
    color: #777;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.imgg {
    width: 25px;
}
/* Individual Container Styling */
.password-form,
#generate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 30px;
    border-radius: 12px;
    background-color: black;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

/* Larger Screen Adjustments */
@media (min-width: 768px) {
    #main-container {
        flex-direction: row; /* Horizontal alignment for larger screens */
    }

    .password-form,
    #generate {
        flex: 1;
    }
}

.spinner {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    margin-right: 8px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
