* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: -webkit-linear-gradient(to right, #000000, #130F40);
    background: linear-gradient(to right, #000000, #130F40);
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* animation: fadeIn 1.5s ease-in-out;,./:/]+[p
    =-9876543 */
    width: 100%;
    max-width: 600px;
    background-color: black;
    ;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}



h2 {
    animation: fadeInUp 1.2s ease-in-out;
    font-size: 1.8em;
    color: #bb86fc;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.password-container {
    position: relative;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #bbb;
}

.password-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    background-color: #d1a6ff;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.password-input input {
    /* width: calc(100% - 30px); */
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    background-color: #00000093;
    color: #fff;
    transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.password-input input:focus {
    border-color: #76ff03;
}

.password-input .toggle-password {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s ease;
}

.password-input .toggle-password:hover {
    color: #fff;
}

button {
    animation: fadeIn 1.5s ease-in-out;
    padding: 12px;
    background-color: #76ff03;
    color: #121212;
    border: none;
    margin: 4px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#adding-password {
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
    padding: 12px;
    background-color: #bb86fc;
    color: white;
    border: none;
    margin: 4px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

button:hover {
    background-color: #9f6ee8;
    transform: scale(1.05);
}

#adding-password:hover {
    background-color: #9f6ee8;
    /* transform: scale(1.05); */
}

.home-link {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: #007bff;
    font-size: 1.2em;
    /* text-decoration: none; */
    display: flex;
    align-items: center;
}

.home-link i {
    cursor: pointer;
    margin-right: 8px;
}

.home-link:hover {
    cursor: pointer;
    color: #ffffff;
}

/* #home {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
} */

#add-pass-success {

    
    position: absolute;
    top: 20px;
    right: 20px;
    /* visibility: hidden; */
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;

    /* position: fixed;
    border-radius: 5px;
    top: -100px;
    right: -300px;
    transition: all 0.5s ease-in-out;
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    width: 140px;
    height: 60px;
    padding: 5px;
    text-align: center;
    color: white;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

#click{
    background: #000;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}