* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: -webkit-linear-gradient(to right, #000000 ,#130F40);
	background: linear-gradient(to right, #000000, #130F40);
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#page {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
  background: -webkit-linear-gradient(#7c4dff, #d1a6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  padding: 20px 100px 0 100px;
  font-size: 1.2em;
  margin-bottom: 40px;
  line-height: 1.6;
  color: #b3b3b3;
  animation: fadeInUp 1.2s ease-in-out;
}

.button-17 {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1em;
  font-weight: bold;
  color: #121212;
  background-color: #bb86fc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.button-17:hover {
  background-color: #9f6ee8;
  /* transform: scale(1.05); */
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
